bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Api/bin/Debug/net6.0/appsettings.Development.json
.idea/.idea.HELHANB_API/.idea/.name
Api/appsettings.Development.json
.idea/.idea.HELHANB_API/.idea/.name
Api/bin/Debug/net6.0/Api.dll
Api/bin/Debug/net6.0/API.exe
Api/bin/Debug/net6.0/Api.pdb
Api/bin/Debug/net6.0/appsettings.Development.json
Api/obj/Api.csproj.nuget.dgspec.json
Api/obj/Debug/net6.0/API.assets.cache
Api/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
Api/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
Api/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
Api/obj/Debug/net6.0/API.dll
Api/obj/Debug/net6.0/API.genruntimeconfig.cache
Api/obj/Debug/net6.0/API.pdb
Api/obj/Debug/net6.0/apphost.exe
Api/obj/Debug/net6.0/ref/API.dll
Api/obj/Debug/net6.0/refint/API.dll
Api/obj/project.nuget.cache
Api/obj/project.packagespec.json
Api/obj/rider.project.restore.info
Api/obj/staticwebassets.pack.sentinel
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Debug/net6.0/Application.assets.cache
Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
Application/obj/project.nuget.cache
Application/obj/project.packagespec.json
Application/obj/rider.project.restore.info
Domain/obj/rider.project.restore.info
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/project.packagespec.json
*.info
Infrastructure/obj/rider.project.restore.info
