# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
Api/appsettings.Development.json
*.editorconfig
Api/obj/Api.csproj.nuget.dgspec.json
Api/bin/Debug/net6.0/Api.dll
Api/bin/Debug/net6.0/Api.pdb
Api/obj/Api.csproj.nuget.dgspec.json
Api/obj/API.csproj.nuget.g.props
Api/obj/Debug/net6.0/API.assets.cache
Api/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
Api/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
Api/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
Api/obj/Debug/net6.0/API.dll
Api/obj/Debug/net6.0/API.genruntimeconfig.cache
Api/obj/Debug/net6.0/API.pdb
Api/obj/Debug/net6.0/ref/API.dll
Api/obj/Debug/net6.0/refint/API.dll
Api/obj/Debug/net6.0/staticwebassets.build.json
Api/obj/project.assets.json
Api/obj/project.nuget.cache
Api/obj/project.packagespec.json
Api/obj/staticwebassets.pack.sentinel
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Debug/net6.0/Application.assets.cache
Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Application/obj/project.packagespec.json
Application/obj/rider.project.restore.info
Domain/obj/Debug/net6.0/Domain.assets.cache
Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/project.packagespec.json
Domain/obj/rider.project.restore.info
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/project.packagespec.json
Infrastructure/obj/rider.project.restore.info
